protocol_cls/data/202006101400.pcap
protocol_cls/data/pro_flows_0_noip_fold.pkl
protocol_cls/data/pro_flows_1_noip_fold.pkl
protocol_cls/data/pro_flows_2_noip_fold.pkl
protocol_cls/data/pro_flows_3_noip_fold.pkl
protocol_cls/data/pro_flows_4_noip_fold.pkl
protocol_cls/data/pro_flows_5_noip_fold.pkl
protocol_cls/data/pro_flows_6_noip_fold.pkl
protocol_cls/data/pro_flows_7_noip_fold.pkl
protocol_cls/data/pro_flows_8_noip_fold.pkl
protocol_cls/data/pro_flows_9_noip_fold.pkl
protocol_cls/data/pro_flows_regular.pkl
protocol_cls/data/pro_flows.pkl
