BigData/week5_spark/setup_spark/spark-3.1.1-bin-hadoop3.2.tgz
Jobs/tsg/.~lock.test.csv#
Jobs/tsg/100000_fixed_scores.zip
Jobs/tsg/cluster__gap_12_ROC.png
Jobs/tsg/copd_full_results.zip
Jobs/tsg/inputevents_itemid_to_var_map.csv
Jobs/tsg/results_1000.csv
Jobs/tsg/results_100000.csv
Jobs/tsg/results.zip
Jobs/tsg/test.csv
Jobs/tsg/100000/cluster__gap_6_feature_importance.csv
Jobs/tsg/100000/cluster__gap_6_ROC.png
Jobs/tsg/100000/cluster__gap_6.png
Jobs/tsg/100000/cluster__gap_12_feature_importance.csv
Jobs/tsg/100000/cluster__gap_12_ROC.png
Jobs/tsg/100000/cluster__gap_12.png
Jobs/tsg/100000/cluster__gap_24_feature_importance.csv
Jobs/tsg/100000/cluster__gap_24_ROC.png
Jobs/tsg/100000/cluster__gap_24.png
Jobs/tsg/100000/cluster__gap_48_feature_importance.csv
Jobs/tsg/100000/cluster__gap_48_ROC.png
Jobs/tsg/100000/cluster__gap_48.png
Jobs/tsg/100000_final/cluster__gap_6_CM.png
Jobs/tsg/100000_final/cluster__gap_6_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_6_ROC.png
Jobs/tsg/100000_final/cluster__gap_12_CM.png
Jobs/tsg/100000_final/cluster__gap_12_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_12_ROC.png
Jobs/tsg/100000_final/cluster__gap_18_CM.png
Jobs/tsg/100000_final/cluster__gap_18_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_18_ROC.png
Jobs/tsg/100000_final/cluster__gap_24_CM.png
Jobs/tsg/100000_final/cluster__gap_24_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_24_ROC.png
Jobs/tsg/100000_final/cluster__gap_24.png
Jobs/tsg/100000_final/cluster__gap_48_CM.png
Jobs/tsg/100000_final/cluster__gap_48_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_48_ROC.png
Jobs/tsg/100000_final/cluster__gap_48.png
Jobs/tsg/100000_final/results_100000.csv
Jobs/tsg/results/results_3000.csv
Jobs/tsg/results/3000_cluster__gap_12/3000_cluster__gap_12.png
Jobs/tsg/results/3000_cluster__gap_18/3000_cluster__gap_18.png
Jobs/tsg/results/3000_cluster__gap_24/3000_cluster__gap_24.png
Jobs/tsg/results/3000_cluster__gap_48/3000_cluster__gap_48.png
Jobs/tsg/results/3000_cluster__gap_6/3000_cluster__gap_6.png
