BigData/week5_spark/setup_spark/spark-3.1.1-bin-hadoop3.2.tgz
Jobs/tsg/.~lock.test.csv#
Jobs/tsg/100000_fixed_scores.zip
Jobs/tsg/cluster__gap_12_ROC.png
Jobs/tsg/copd_full_results.zip
Jobs/tsg/inputevents_itemid_to_var_map.csv
Jobs/tsg/results_1000.csv
Jobs/tsg/results_100000.csv
Jobs/tsg/results.zip
Jobs/tsg/test.csv
Jobs/tsg/100000/cluster__gap_6_feature_importance.csv
Jobs/tsg/100000/cluster__gap_6_ROC.png
Jobs/tsg/100000/cluster__gap_6.png
Jobs/tsg/100000/cluster__gap_12_feature_importance.csv
Jobs/tsg/100000/cluster__gap_12_ROC.png
Jobs/tsg/100000/cluster__gap_12.png
Jobs/tsg/100000/cluster__gap_24_feature_importance.csv
Jobs/tsg/100000/cluster__gap_24_ROC.png
Jobs/tsg/100000/cluster__gap_24.png
Jobs/tsg/100000/cluster__gap_48_feature_importance.csv
Jobs/tsg/100000/cluster__gap_48_ROC.png
Jobs/tsg/100000/cluster__gap_48.png
Jobs/tsg/100000_final/cluster__gap_6_CM.png
Jobs/tsg/100000_final/cluster__gap_6_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_6_ROC.png
Jobs/tsg/100000_final/cluster__gap_12_CM.png
Jobs/tsg/100000_final/cluster__gap_12_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_12_ROC.png
Jobs/tsg/100000_final/cluster__gap_18_CM.png
Jobs/tsg/100000_final/cluster__gap_18_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_18_ROC.png
Jobs/tsg/100000_final/cluster__gap_24_CM.png
Jobs/tsg/100000_final/cluster__gap_24_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_24_ROC.png
Jobs/tsg/100000_final/cluster__gap_24.png
Jobs/tsg/100000_final/cluster__gap_48_CM.png
Jobs/tsg/100000_final/cluster__gap_48_feature_importance.csv
Jobs/tsg/100000_final/cluster__gap_48_ROC.png
Jobs/tsg/100000_final/cluster__gap_48.png
Jobs/tsg/100000_final/results_100000.csv
Jobs/tsg/results/results_3000.csv
Jobs/tsg/results/3000_cluster__gap_12/3000_cluster__gap_12.png
Jobs/tsg/results/3000_cluster__gap_18/3000_cluster__gap_18.png
Jobs/tsg/results/3000_cluster__gap_24/3000_cluster__gap_24.png
Jobs/tsg/results/3000_cluster__gap_48/3000_cluster__gap_48.png
Jobs/tsg/results/3000_cluster__gap_6/3000_cluster__gap_6.png
MedicalImaging/medical_images/Covid19_dataset_project/data/01/01.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/02.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/03.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/04.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/05.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/06.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/07.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/08.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/09.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/010.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/011.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/012.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/013.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/016.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/018.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/019.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/020.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/021.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/022.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/023.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/024.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/025.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/027.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/031.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/032.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/033.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/034.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/035.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/036.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/037.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/038.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/041.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/042.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/043.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/044.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/045.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/046.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/047.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/048.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/051.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/052.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/053.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/054.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/055.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/056.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/057.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/058.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/061.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/062.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/063.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/064.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/065.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/066.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/067.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/068.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/071.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/072.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/073.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/074.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/075.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/076.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/077.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/078.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/081.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/082.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/083.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/084.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/094.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/095.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/01/096.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/01.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/02.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/03.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/04.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/05.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/06.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/07.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/08.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/09.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/010.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/011.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/012.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/013.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/014.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/015.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/016.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/017.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/018.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/019.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/020.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/021.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/022.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/023.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/024.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/025.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/050.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/051.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/052.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/053.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/054.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/055.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/056.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/057.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/058.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/059.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/060.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/061.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/062.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/063.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/064.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/065.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/066.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/067.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/068.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/069.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/070.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/071.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/072.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/073.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/074.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/075.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/076.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/077.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/079.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/080.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/081.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/082.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/083.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/084.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/085.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/086.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/087.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/088.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/091.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/092.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/093.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/094.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/095.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/096.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/02/097.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/01.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/02.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/03.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/04.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/06.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/07.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/08.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/09.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/010.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/012.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/015.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/019.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/020.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/021.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/022.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/024.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/025.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/026.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/027.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/031.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/032.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/033.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/039.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/040.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/041.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/042.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/043.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/044.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/045.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/046.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/047.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/048.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/049.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/050.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/051.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/052.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/053.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/054.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/055.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/056.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/057.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/058.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/059.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/060.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/061.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/062.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/064.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/065.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/067.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/068.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/069.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/071.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/072.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/073.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/074.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/076.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/078.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/079.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/080.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/081.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/082.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/083.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/084.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/085.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/086.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/088.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/089.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/090.jpeg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/091.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/092.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00001.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00002.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00003a.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00003b.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00004.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00005.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00006.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00007.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00008.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00009.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00010.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00011.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00012.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00013a.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00013b.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00014.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00015a.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00015b.png
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00016.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00017.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00018.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00019.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00020.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00021.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00022.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00023.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00024.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00025.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00026.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00027.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00028.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00029.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00030.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00031.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00032.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00033.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00034.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00035.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00036.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00037.jpg
MedicalImaging/medical_images/Covid19_dataset_project/data/03/COVID-00038.jpg
